/* css style*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}



/*header style*/
.header{
    background-color:#1f2937 ;
display: flex;
justify-content: space-between;
margin: 10p;
padding: 10px 200px;


}
.logo{
    width: 100px;
    height: auto;
}
.topright{
    padding: 10px;
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size:24px;
    color: #e5e7eb;
    gap: 10px;
    
}
a, a:visited{
    color: #e5e7eb;
    text-decoration: none;
}
/* header style end title block start*/

.titleblock{
    display: flex;
    background-color: #1f2937;
    flex-direction: row;
    align-items: center;
    padding: 50px 200px;
    justify-content: space-between;
}

.titlemain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 25px;
}

.titleimage{
    display:flex;
    flex-direction: row;
    margin: 15px;
    border: white;
}
.title1{
    font-size:48px;
    font-weight: 900;
    color: #f9faf8;
}

.titletext{
    font-size: 18px;
    color: #e5e7eb;
    

}

.button{
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 10px;
    width: 150px;
    height: 40px;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-content: center;
    font-size: large;
    border-radius: 4px;
   
} 

.one{
    border:none;

}


.main{
    width: 500px;
    height: auto;
    border: 2px solid #353636;
    box-shadow: 3px 6px #0e1218;
}

/* title block end title 2 start*/

.title2{
    display: flex;
    justify-content: center;
    margin:50px;
    margin-top: 100px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.boxes{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 80px;
}

.square {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 4px solid #3882f6;
}

.text2{
    font-size: 25px;

}
/* title 2 end quote start*/

.quotebox{
    margin: 100px 0px 100px 0px;
    display: flex;
    height: 100px;
    background-color:#e5e7eb;
    padding:200px;
    color: #1f2937;
}

.meow{
    font-size: 33px;
    font-style: italic;

}
.catter{
    font-size: 19px;
    text-align: end;
}

/* quote end sign up start */

.sign-up{
    background-color: #3882f6;
    color: #e5e7eb;
    display:flex ;
    height: 100px;
    align-items: center;
    gap: 50px;
    margin: 200px;
    padding: 30px 100px;
    justify-content: space-between;
    border-radius: 10px;
}

.lefttext{
    display: flex;
    flex-direction: column;
    justify-content: center
}

.text3 {
    font-size: 18px;
    font-weight: 700;
}

.two {
    border: 2px solid #e5e7eb;
}

/*sign up end footer start*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding:30px;
    color: #e5e7eb;
    
}